streamlit>=1.32.0
gspread>=6.0.0
google-auth>=2.28.0
google-auth-oauthlib>=1.2.0
PyMuPDF==1.24.0
easyocr>=1.7.1
pdfrw>=0.4
numpy<2.0.0
opencv-python-headless
pyzbar>=0.1.9
requests>=2.31.0
beautifulsoup4>=4.12.3